
.panel-title > a:before {
    font-family: FontAwesome;
    content:"\f07c";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    content:"\f07b";
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}

