
#home {
  background: url('../images/Background.jpg') no-repeat center center fixed;
  background-size: cover;
  border-radius: 5px;
}

/* EASE colors */
.home-wrapper {
  background: rgba(200,210,220,0.8);
}
h1 {
  color: #5387a2;
}
h3 {
  color: #5387a2;
}
.arrow-btn i:hover {
  background: #5387a2;
}
.social-icon li a:hover {
  background: #5387a2;
}
#footer {
  background: #394e59 !important;
}
.footer-a:hover, .footer-a:active, .footer-a:focus {
  color: #FFFF;
}

/* panels */
.panel-title > a:before {
    font-family: FontAwesome;
    content:"\f07c";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    content:"\f07b";
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}

/* document hover effect */
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    padding: 2px;
}
.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 4.75em;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	visibility: hidden;
}

.hovereffect img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect p.icon-links a {
	float: right;
	font-size: 1.4em;
}

.hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	visibility: visible;
}
.hovereffect p.icon-links a i:before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
}

.hovereffect:hover .overlay,
.hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

