
#home {
  background: url('../images/Background.jpg') no-repeat center center fixed;
  background-size: cover;
  border-radius: 5px;
}

.footer-bg-color {
  background: #8abfdb !important;
}

.footer-a {
  color: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

.footer-a:hover, .footer-a:active, .footer-a:focus {
  color: #FFFF;
  outline: none;
}

.footer-text-color {
  color: #000000 !important;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.2px;
}

.panel-title > a:before {
    font-family: FontAwesome;
    content:"\f07c";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    content:"\f07b";
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    padding: 2px;
}
.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 4.75em;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	visibility: hidden;
}

.hovereffect img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect p.icon-links a {
	float: right;
	font-size: 1.4em;
}

.hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	visibility: visible;
}
.hovereffect p.icon-links a i:before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
}

.hovereffect:hover .overlay,
.hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

